html {
    text-align: center;
}

h4 {
    border-bottom: 1px solid;
}

.col-md-3 {
    border: 1px solid ;
    margin: 2.5px;
    justify-content: center;
    
    /* padding-left:5px;
    padding-right:5px; */
}

.row {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}